Q1. What are the three measures of central tendency?

The three measures of central tendency are mean,median and mode.

1)mean:The mean, often referred to as the average, is calculated by summing up all the values in a data set and then dividing by the number of values.

2)median:: The median is the middle value in a data set when it's arranged in ascending or descending order.

3)mode:The mode is the value that appears most frequently in a data set.

Q2. What is the difference between the mean, median, and mode? How are they used to measure the 
central tendency of a dataset?

1)mean:The mean, often referred to as the average, is calculated by summing up all the values in a data set and then dividing by the number of values.

2)median:: The median is the middle value in a data set when it's arranged in ascending or descending order.

3)mode:The mode is the value that appears most frequently in a data set

These measures can help provide a better understanding of the central tendencies of a dataset by desribing how data points are distributed around the center.

Q3. Measure the three measures of central tendency for the given height data:

 [178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [1]:
import numpy as np
l=[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

np.mean(l)

177.01875

In [2]:
np.median(l)

177.0

In [3]:
from scipy import stats
stats.mode(l)

/tmp/ipykernel_77/3491401086.py:2: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(l)

ModeResult(mode=array([177.]), count=array([3]))

Q4. Find the standard deviation for the given data:

[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [4]:
import numpy as np
np.std([178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5])

1.7885814036548633

Q5. How are measures of dispersion such as range, variance, and standard deviation used to describe 
the spread of a dataset? Provide an example.

1)range:range is the difference between the highest and lowest data points.
let suppose the two data points be a and b the range is given by:|a-b|
and the data varies by |a-b| points.

2)variance: It gives an idea of how much the data points are spread out from the mean.

3)standard deviation: provides a measure of dispersion in the same units as the original data.

Q6. What is a Venn diagram?

venn diagram is basically the diagramatic representation of the operations on sets.with the help of venn diagram we can easily visualise the operations

Q7. For the two given sets A = (2,3,4,5,6,7) & B = (0,2,6,8,10). Find:

(i)AnB

(ii)A ⋃ B

(i)AnB

In [6]:
A = {2,3,4,5,6,7}
B = {0,2,6,8,10}
A.intersection(B)

{2, 6}

(ii)A ⋃ B

In [7]:
A = {2,3,4,5,6,7}
B = {0,2,6,8,10}
A.union(B)

{0, 2, 3, 4, 5, 6, 7, 8, 10}

Q8. What do you understand about skewness in data?

Skewness in data refers to the asymmetry of the probability distribution of a dataset.

There are three main types of skewness:

1)Positive Skewness (Right Skewness):he majority of the data points are concentrated on the left side of the distribution, The mean is typically greater than the median in a positively skewed distribution.

2)Negative Skewness (Left Skewness):most of the data points are concentrated on the right side of the distribution.The mean is usually less than the median in a negatively skewed distribution.

3)No Skewness (Symmetrical): In a symmetrical distribution, the data is evenly distributed around the mean.This means that the mean and median are approximately equal.(bell curve)

Q9. If a data is right skewed then what will be the position of median with respect to mean?

The mean is typically greater than the median in a positively skewed distribution.

Q10. Explain the difference between covariance and correlation. How are these measures used in 
statistical analysis?

Covariance: It helps in understanding the relationship between two variables, but due to its scale and unit dependence, it's often more useful for EDA rather than comparisons across datasets.

Correlation:
Correlation is a standardized measure that not only indicates the direction of the relationship between two variables but also the strength of that relationship.

In statistical analysis these are used for feature selection.

Q11. What is the formula for calculating the sample mean? Provide an example calculation for a 
dataset.

x̄ = (Σx) / n

Where:

x̄ is the sample mean.
Σx represents the sum of all individual data points in the sample.
n is the number of data points in the sample.

In [8]:
import seaborn as sns
sns.load_dataset("titanic")

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [9]:
df=sns.load_dataset("titanic")
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

Q12. For a normal distribution data what is the relationship between its measure of central tendency?

mean=median=mode

Q13. How is covariance different from correlation?

Covariance: It helps in understanding the relationship between two variables, but due to its scale and unit dependence, it's often more useful for EDA rather than comparisons across datasets.

Correlation:
Correlation is a standardized measure that not only indicates the direction of the relationship between two variables but also the strength of that relationship.

Q14. How do outliers affect measures of central tendency and dispersion? Provide an example.

In [12]:
l=[25,35,25,67,54,87,23,45,67,56,45,54,35,53,67,76]

import numpy as  np
np.mean(l)

50.875

In [14]:
np.median(l)

53.5

In [15]:
from scipy import stats
stats.mode(l)

/tmp/ipykernel_77/3491401086.py:2: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(l)

ModeResult(mode=array([67]), count=array([3]))

In [16]:
np.var(l)

340.984375

In [17]:
np.std(l)

18.465762237178296

In [19]:
l1=[25,35,25,67,54,87,23,45,67,56,45,54,35,53,67,76,500,200]

In [20]:
np.mean(l1)

84.11111111111111

In [21]:
np.median(l1)

54.0

In [22]:
from scipy import stats
stats.mode(l1)

/tmp/ipykernel_77/3682151368.py:2: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(l1)

ModeResult(mode=array([67]), count=array([3]))

In [23]:
np.var(l1)

11640.20987654321

In [24]:
np.std(l1)

107.88980432155398

from the above example we got to know that mean,variance and standard  deviation are highly affected by outliers.